* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    background-color: #608a87;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

  }
  
  header nav {
    display: flex;
    align-items: center;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  header nav ul li {
    margin-right: 20px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  header nav ul li:hover {
    background-color: #a9c5c2;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  