@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

/* Estilos generales */

:root {
    --primary-color: #608a87;
    --secondary-color: #2e2e2e;
    --background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-color);
}

/* Header */
header {

    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

header nav ul li:hover {
    background-color: var(--secondary-color);
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/* Botón para agregar contacto */
.btn-agregar {
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-agregar:hover {
    background-color: #2e2e2e;
}

/* Contenedor principal */
.container-contact {
    width: 800px;
    margin: 0 auto;
    margin-top: 80px;
}

/* Tarjeta de contacto */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


/* Detalles del contacto */
.details {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(96, 138, 135, 0.5);
    margin-bottom: 20px;
    padding: 20px;
}

/* Resumen del contacto */
.summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #608a87;
    box-shadow: 0 2px 5px rgba(96, 138, 135, 0.5);
    color: #fff;
}